# -- generic files to ignore --

# emacs backup files
*~
# vim backup files
*.swp

# -- compiler-related --

# object files
*.o
# static library archives
*.a
# test executables
*.x

# -- build system files --

config.mk
version

# -- directories with build products --

lib
obj

# -- makefile fragments --

.fragment.mk

# -- misc. --


