# -- generic files to ignore --

# emacs backup files
*~
# vim backup files
*.swp
# NFS file
.nfs*

# -- compiler-related --

# object files
# NOTE: This will result in git also exluding the top-level obj directory
# since its only contents are .o files.
*.o
# static library archives
# NOTE: This will result in git also exluding the top-level lib directory
# since its only contents are .a files.
*.a
*.so
*.so.*
# test executables
*.x
*.pexe
*.nexe
*.js
# link map files
*.map

# -- build system files --

config.mk
bli_config.h
bli_addon.h

# -- monolithic headers --

include/*/*.h

# -- makefile fragments --

.fragment.mk

# -- misc. --

# BLIS testsuite output file
output.testsuite*

# BLAS test output files
out.*

# GTAGS database
GPATH
GRTAGS
GTAGS

# cmake builds
build_*/*

# Windows build
bin/*
*.dll
*.lib
*.pdb
*.exe

.vscode

# Gtestsuite build files
gtestsuite/build/*
