Source: blis
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Nico Schlömer <nico.schloemer@gmail.com>
Section: math
Priority: optional
Standards-Version: 4.1.4
# Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/blis.git
# Vcs-Git: https://anonscm.debian.org/git/debian-science/packages/blis.git
Homepage: https://github.com/flame/blis
Build-Depends:
 debhelper (>= 9),
 python

Package: libblis-dev
Architecture: any
Section: libdevel
Depends: libblis (= ${binary:Version}), ${misc:Depends}
Recommends: blis
Description: BLAS-like Library Instantiation Software Framework
 BLIS is a portable software framework for instantiating high-performance
 BLAS-like dense linear algebra libraries. The framework was designed to
 isolate essential kernels of computation that, when optimized, immediately
 enable optimized implementations of most of its commonly used and
 computationally intensive operations. BLIS is written in ISO C99 and available
 under a new/modified/3-clause BSD license. While BLIS exports a new BLAS-like
 API, it also includes a BLAS compatibility layer which gives application
 developers access to BLIS implementations via traditional BLAS routine calls.
 An object-based API is also available for more experienced users.
 .
 The package contains development files.

Package: libblis
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: blis
Pre-Depends: ${misc:Pre-Depends}
Description: BLAS-like Library Instantiation Software Framework - shared library
 BLIS is a portable software framework for instantiating high-performance
 BLAS-like dense linear algebra libraries. The framework was designed to
 isolate essential kernels of computation that, when optimized, immediately
 enable optimized implementations of most of its commonly used and
 computationally intensive operations. BLIS is written in ISO C99 and available
 under a new/modified/3-clause BSD license. While BLIS exports a new BLAS-like
 API, it also includes a BLAS compatibility layer which gives application
 developers access to BLIS implementations via traditional BLAS routine calls.
 An object-based API is also available for more experienced users.
 .
 The package contains a shared library.
