#!/usr/bin/make -f

DEB_HOST_MULTIARCH?=$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

ifeq ($(DEB_HOST_MULTIARCH),x86_64-linux-gnu)
   CONFIG=x86_64
else
   CONFIG=generic
endif

%:
	dh $@

override_dh_auto_configure:
	./configure --prefix=/usr --libdir=/usr/lib/$(DEB_HOST_MULTIARCH) --enable-static --enable-shared $(CONFIG)
